body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    display: flex;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 10px 40px;
    border: none;
    font-weight:bold ;
    margin-top: 10px;
    font-size: large;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 200px 100px;
    
}

.heromaintext{
    font-size: 48px;
    font-weight: bolder;
}

.herosubtext{
    font-size: 18px;
    color: #E5E7EB;
}

.navbar{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom:100px
}

.herolayer {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.herotext{
    flex-direction:column;
    flex: 0 1 420px;
}
.image{
    background-color: grey;
    width: 500px;
    height: 250px;
}

.headingtwo{
    font-size: 36px;
    font-weight:800;
    color:#1F2937;
    padding: 50px 0;
}

.cardimg{
    width: 175px;
    height: 175px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;   
    border-radius: 20px;
}
.layertwo{
    padding-bottom: 100px;
}

.layertwo div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    flex-direction: row;
    gap: 50px;
}

.card{
    flex-direction: column;
}

.quote {
    font-weight: lighter;
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
}

.quotee {
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: end;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
    
}

.botbutton {
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.layerfour {
    padding: 100px 200px;
}

.banner {
    border-radius: 8px;
    background-color: #3882F6;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.action{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.bannertext{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}